{% block content %}
  <h1>Answers</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>studentNumber</th>
        <th>Author</th>
        <th>Download</th>
        <th>Score</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for answer in answers %}
        <tr>
          <td>{{answer.title }}</td>
          <td>{{answer.studentNumber }}</td>
          <td>{{answer.author }}</td>
          <td>
            <a href="{{answer.pdf.url }}" class="btn btn-primary btn-sm" target="_blank">
              downlod PDF
            </a>

          </td>
          <td>
            <input type="number" id="myNumber" value="0">
            <button onclick="myFunction()">submit</button>
            <p id="demo"></p>

            <script>
            function myFunction() {
            var x = document.getElementById("myNumber").value;
            document.getElementById("demo").innerHTML = x;
            }
            </script>
          </td>
          <td>{{answer.Date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 >Upload HomeWok </h1>

<a href="{% url 'Upload_HomeWork' %}"> <h3>upload HomeWork </h3></a>
</body>
</html>