{% block content %}
  <h2>Videos</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Watch</th>
      </tr>
    </thead>
    <tbody>
      {% for video in videos %}
        <tr>
          <td>{{video.title }}</td>
          <td>
            <a href="{{homework.mp4.url }}" class="btn btn-primary btn-sm"  >
              <video style="display:block;margin-right:auto;margin-left:auto;" playsinline="playsinline"  muted="muted"  controls="controls">
                <source src="{{ video.video.url }}" type="video/mp4">
              </video>
            </a>

          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}